
textarea {
    padding: 10px;
    resize: none;
    width: 100%;
  }

.bootbox-body .btn {
    float: right;
    margin: 5px;
  }
  
  .note.list-group-item .btn {
    position: relative;
    bottom: 10px;
  }